body {
  background: black;
  font-family: courier;
  text-align: center;
  margin: 24px 0;
  -webkit-font-smoothing: antialiased;
}

input[type=text] {
  color: ghostwhite;
  background: black;
  border: 0;
  font: normal 30px courier;
  outline: none;
  width: 98vw;
  text-align: center;
}

table.center {
  margin: 8px auto;
}

th {
  color: gray;
  font-size: 12px;
  font-weight: normal;
  padding-right: 1ch;
  text-align: left;
  white-space: nowrap;
  word-spacing: -.5ch;
}

.hide {
  display: none;
}

td {
  font-size: 16px;
  padding-right: 1ch;
  text-align: left;
}

.glyph {
  color: ghostwhite;
}

.dec {
  color: darkorchid;
}

.bin {
  color: lime;
  text-align: right;
}

.bin b.bit {
  cursor: pointer;
}

.hex {
  color: cyan;
  text-transform: uppercase;
  white-space: nowrap;
  word-spacing: -.5ch;
}

.hex a {
  color: inherit;
  text-decoration: none;
}

.octet {
  color: lime;
  margin-left: .4rem;
}

.octet:first-child {
  margin-left: 0;
}

.header {
  color: rgba(255, 255, 255, .4);
}

.insignificant {
  opacity: .5;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;
  padding: 4px;
  font-size: 12px;
}

.footer > div {
  opacity: .5;
}

.footer > div#legend {
  opacity: .6;
}

.footer > div:hover, .footer > div#legend:hover {
  opacity: 1;
}

#legend > span {
  margin: 0 4px;
  white-space: nowrap;
  word-spacing: -.5ch;
}

.hint {
  color: ghostwhite;
  padding: 4px;
}

#hintput {
  cursor: pointer;
}

.learn-more {
  color: lime;
  text-decoration: none;
}

.learn-more > sub {
  vertical-align: middle;
}